[ req ]
distinguished_name = dn
req_extensions = v3_req
prompt = no

[ dn ]
CN = pxc-node05

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = pxc-node05
IP.1 = 192.168.20.62
