[ req ]
distinguished_name = dn
req_extensions = v3_req
prompt = no

[ dn ]
CN = pxc-node02

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = pxc-node02
IP.1 = 192.168.23.10
